In [63]:
import pandas as pd
import sqlite3 as sq
import matplotlib as mpl
from matplotlib import rcParams
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

In [65]:
wptobea = {'WP:Total': 'Total employment (number of jobs)', 
           'WP:Farm': 'Farm employment', 
           'WP:Forestry, Fishing, & Related': 'Forestry, fishing, and related activities', 
           'WP:Mining': 'Mining, quarrying, and oil and gas extraction', 
           'WP:Construction': 'Construction', 
           'WP:Manufacturing': 'Manufacturing', 
           'WP:Utilities': 'Utilities',
           'WP:Wholesale Trade': 'Wholesale trade', 
           'WP:Retail Trade': 'Retail trade', 
           'WP:Transportation & Warehousing': 'Transportation and warehousing', 
           'WP:Information': 'Information', 
           'WP:Finance & Insurance': 'Finance and insurance',
           'WP:Real Estate, Rental, & Leasing': 'Real estate and rental and leasing', 
           'WP:Professional & Technical Services': 'Professional, scientific, and technical services', 
           'WP:Management of Companies & Enterprises': 'Management of companies and enterprises',
           'WP:Administrative & Waste Services': 'Administrative and support and waste management and remediation services', 
           'WP:Educational Services': 'Educational services', 
           'WP:Healthcare & Social Assistance': 'Health care and social assistance', 
           'WP:Arts, Entertainment, & Recreation': 'Arts, entertainment, and recreation',
           'WP:Accommodation & Food Services': 'Accommodation and food services', 
           'WP:Other': 'Other services (except government and government enterprises)', 
           'WP:Federal Civilian': 'Federal civilian', 
           'WP:Federal Military': 'Military', 
           'WP:State & Local Government': 'State and local'}

In [77]:
conn = sq.connect('../../Data-Pipelines/Outputs/Labor_Economy.db')
sql_query = pd.read_sql('SELECT * FROM [WP2023_IndustryEmployment_Annual_Change_2023Base]', conn)
initial = pd.DataFrame(sql_query)
thelist = ['Cheatham County, Tennessee', 'Davidson County, Tennessee', 'Dickson County, Tennessee', 'Houston County, Tennessee', 
           'Humphreys County, Tennessee', 'Maury County, Tennessee', 'Montgomery County, Tennessee', 'Robertson County, Tennessee', 
           'Rutherford County, Tennessee', 'Stewart County, Tennessee', 'Sumner County, Tennessee', 'Williamson County, Tennessee', 
           'Wilson County, Tennessee', 'Trousdale County, Tennessee', 'GNRC', 'MPO', 'GNRC Region']
initial = initial.loc[initial['NAME'].isin(thelist)].reset_index(drop = True)
years = ['2017', '2022', '2035', '2045']
#timeframes = ['2017-2045', '']
initial = initial.loc[initial['Year'].isin(years)].reset_index(drop = True)
initial = initial[['NAME', 'Year', 'WP:Total', 'WP:Farm', 'WP:Forestry, Fishing, & Related','WP:Mining', 'WP:Construction', 'WP:Manufacturing', 'WP:Utilities', 
                   'WP:Wholesale Trade', 'WP:Retail Trade', 'WP:Transportation & Warehousing', 'WP:Information', 'WP:Finance & Insurance', 
                   'WP:Real Estate, Rental, & Leasing', 'WP:Professional & Technical Services', 'WP:Management of Companies & Enterprises',
                   'WP:Administrative & Waste Services', 'WP:Educational Services', 'WP:Healthcare & Social Assistance', 'WP:Arts, Entertainment, & Recreation', 
                   'WP:Accommodation & Food Services', 'WP:Other', 'WP:Federal Civilian', 'WP:Federal Military', 'WP:State & Local Government']]
initial = initial.rename(columns = wptobea)
initial.set_index(['NAME', 'Year'], inplace = True)
initial = initial.add_suffix(' 2023 Base').reset_index(drop = False)

In [78]:
initial.head(2)

,NAME,Year,Total employment (number of jobs) 2023 Base,Farm employment 2023 Base,"Forestry, fishing, and related activities 2023 Base","Mining, quarrying, and oil and gas extraction 2023 Base",Construction 2023 Base,Manufacturing 2023 Base,Utilities 2023 Base,Wholesale trade 2023 Base,Retail trade 2023 Base,Transportation and warehousing 2023 Base,Information 2023 Base,Finance and insurance 2023 Base,Real estate and rental and leasing 2023 Base,"Professional, scientific, and technical services 2023 Base",Management of companies and enterprises 2023 Base,Administrative and support and waste management and remediation services 2023 Base,Educational services 2023 Base,Health care and social assistance 2023 Base,"Arts, entertainment, and recreation 2023 Base",Accommodation and food services 2023 Base,Other services (except government and government enterprises) 2023 Base,Federal civilian 2023 Base,Military 2023 Base,State and local 2023 Base
0,"Cheatham County, Tennessee",2017,15234.0,434.0,50.0,16.0,1797.0,2306.0,30.0,193.0,1524.0,733.0,132.0,403.0,654.0,591.0,109.0,1150.0,221.0,681.0,570.0,786.0,1084.0,77.0,116.0,1577.0
1,"Cheatham County, Tennessee",2022,16640.0,423.0,54.0,16.0,1870.0,2779.0,36.0,216.0,1446.0,884.0,130.0,508.0,771.0,726.0,111.0,1205.0,246.0,759.0,599.0,924.0,1154.0,83.0,111.0,1589.0

In [75]:
conn = sq.connect('../../Data-Pipelines/Outputs/Labor_Economy.db')
sql_query = pd.read_sql('SELECT * FROM [WP2017_IndustryEmployment_Annual_Change_2017Base]', conn)
initial1 = pd.DataFrame(sql_query)
thelist = ['Cheatham County, Tennessee', 'Davidson County, Tennessee', 'Dickson County, Tennessee', 'Houston County, Tennessee', 
           'Humphreys County, Tennessee', 'Maury County, Tennessee', 'Montgomery County, Tennessee', 'Robertson County, Tennessee', 
           'Rutherford County, Tennessee', 'Stewart County, Tennessee', 'Sumner County, Tennessee', 'Williamson County, Tennessee', 
           'Wilson County, Tennessee', 'Trousdale County, Tennessee', 'GNRC', 'MPO', 'GNRC Region']
initial1 = initial1.loc[initial1['NAME'].isin(thelist)].reset_index(drop = True)
years = ['2017', '2022', '2035', '2045']
#timeframes = ['2017-2045', '']
initial1 = initial1.loc[initial1['Year'].isin(years)].reset_index(drop = True)
initial1 = initial1[['NAME', 'Year', 'WP:Total', 'WP:Farm', 'WP:Forestry, Fishing, & Related','WP:Mining', 'WP:Construction', 'WP:Manufacturing', 'WP:Utilities', 
                   'WP:Wholesale Trade', 'WP:Retail Trade', 'WP:Transportation & Warehousing', 'WP:Information', 'WP:Finance & Insurance', 
                   'WP:Real Estate, Rental, & Leasing', 'WP:Professional & Technical Services', 'WP:Management of Companies & Enterprises',
                   'WP:Administrative & Waste Services', 'WP:Educational Services', 'WP:Healthcare & Social Assistance', 'WP:Arts, Entertainment, & Recreation', 
                   'WP:Accommodation & Food Services', 'WP:Other', 'WP:Federal Civilian', 'WP:Federal Military', 'WP:State & Local Government']]
initial1 = initial1.rename(columns = wptobea)
initial1.set_index(['NAME', 'Year'], inplace = True)
initial1 = initial1.add_suffix(' 2017 Base').reset_index(drop = False)

In [76]:
initial1.head(2)

,NAME,Year,Total employment (number of jobs) 2017 Base,Farm employment 2017 Base,"Forestry, fishing, and related activities 2017 Base","Mining, quarrying, and oil and gas extraction 2017 Base",Construction 2017 Base,Manufacturing 2017 Base,Utilities 2017 Base,Wholesale trade 2017 Base,Retail trade 2017 Base,Transportation and warehousing 2017 Base,Information 2017 Base,Finance and insurance 2017 Base,Real estate and rental and leasing 2017 Base,"Professional, scientific, and technical services 2017 Base",Management of companies and enterprises 2017 Base,Administrative and support and waste management and remediation services 2017 Base,Educational services 2017 Base,Health care and social assistance 2017 Base,"Arts, entertainment, and recreation 2017 Base",Accommodation and food services 2017 Base,Other services (except government and government enterprises) 2017 Base,Federal civilian 2017 Base,Military 2017 Base,State and local 2017 Base
0,"Cheatham County, Tennessee",2017,14923.0,426.0,89.0,25.0,1720.0,2370.0,44.0,317.0,1520.0,631.0,119.0,339.0,510.0,694.0,113.0,1020.0,124.0,728.0,589.0,707.0,1047.0,73.0,121.0,1597.0
1,"Cheatham County, Tennessee",2022,15967.0,452.0,95.0,27.0,1948.0,2404.0,45.0,327.0,1636.0,648.0,118.0,371.0,546.0,735.0,121.0,1121.0,145.0,802.0,662.0,777.0,1145.0,74.0,122.0,1646.0

In [79]:
conn = sq.connect('../../Data-Pipelines/Outputs/Labor_Economy.db')
sql_query = pd.read_sql('SELECT * FROM [BEA2017_2022Employment]', conn)
bea = pd.DataFrame(sql_query)
thelist = ['Cheatham County, Tennessee', 'Davidson County, Tennessee', 'Dickson County, Tennessee', 'Houston County, Tennessee', 
           'Humphreys County, Tennessee', 'Maury County, Tennessee', 'Montgomery County, Tennessee', 'Robertson County, Tennessee', 
           'Rutherford County, Tennessee', 'Stewart County, Tennessee', 'Sumner County, Tennessee', 'Williamson County, Tennessee', 
           'Wilson County, Tennessee', 'Trousdale County, Tennessee', 'GNRC', 'MPO', 'GNRC Region']
bea = bea.loc[bea['NAME'].isin(thelist)]
bea = bea.loc[(bea['Category'] != 'By Type')]
thelist = ['Nonfarm employment', 'Private nonfarm employment', 'Government and government enterprises', 'Local government', 'State government']
bea = bea.loc[~bea['Description'].isin(thelist)]
bea = bea.drop(columns = ['Category', 'Sub Category'])
bea = bea.melt(id_vars = ['NAME', 'Description'], var_name = 'Year', value_name = 'Employment BEA')
bea = bea.pivot(index = ['NAME', 'Year'], columns = 'Description')['Employment BEA'].reset_index(drop = False)
bea = bea.rename_axis(None, axis=1)
bea.set_index(['NAME', 'Year'], inplace = True)
bea = bea.add_suffix(' BEA').reset_index(drop = False)

In [80]:
bea.head(2)

,NAME,Year,Accommodation and food services BEA,Administrative and support and waste management and remediation services BEA,"Arts, entertainment, and recreation BEA",Construction BEA,Educational services BEA,Farm employment BEA,Federal civilian BEA,Finance and insurance BEA,"Forestry, fishing, and related activities BEA",Health care and social assistance BEA,Information BEA,Management of companies and enterprises BEA,Manufacturing BEA,Military BEA,"Mining, quarrying, and oil and gas extraction BEA",Other services (except government and government enterprises) BEA,"Professional, scientific, and technical services BEA",Real estate and rental and leasing BEA,Retail trade BEA,State and local BEA,Total employment (number of jobs) BEA,Transportation and warehousing BEA,Utilities BEA,Wholesale trade BEA
0,"Cheatham County, Tennessee",2017,786.0,1150.0,570.0,1797.0,666666666.0,434.0,77.0,403.0,666666666.0,666666666.0,132.0,666666666.0,2308.0,116.0,666666666.0,1084.0,666666666.0,654.0,1524.0,1577.0,15234.0,733.0,666666666.0,666666666.0
1,"Cheatham County, Tennessee",2018,831.0,1289.0,544.0,1751.0,666666666.0,438.0,78.0,480.0,666666666.0,666666666.0,114.0,666666666.0,2399.0,113.0,666666666.0,1136.0,666666666.0,659.0,1477.0,1570.0,15574.0,755.0,666666666.0,666666666.0

In [81]:
data = initial.merge(initial1, on = ['NAME', 'Year'])
data = data.merge(bea, on = ['NAME', 'Year'])

In [82]:
data.head()

,NAME,Year,Total employment (number of jobs) 2023 Base,Farm employment 2023 Base,"Forestry, fishing, and related activities 2023 Base","Mining, quarrying, and oil and gas extraction 2023 Base",Construction 2023 Base,Manufacturing 2023 Base,Utilities 2023 Base,Wholesale trade 2023 Base,Retail trade 2023 Base,Transportation and warehousing 2023 Base,Information 2023 Base,Finance and insurance 2023 Base,Real estate and rental and leasing 2023 Base,"Professional, scientific, and technical services 2023 Base",Management of companies and enterprises 2023 Base,Administrative and support and waste management and remediation services 2023 Base,Educational services 2023 Base,Health care and social assistance 2023 Base,"Arts, entertainment, and recreation 2023 Base",Accommodation and food services 2023 Base,Other services (except government and government enterprises) 2023 Base,Federal civilian 2023 Base,Military 2023 Base,State and local 2023 Base,Total employment (number of jobs) 2017 Base,Farm employment 2017 Base,"Forestry, fishing, and related activities 2017 Base","Mining, quarrying, and oil and gas extraction 2017 Base",Construction 2017 Base,Manufacturing 2017 Base,Utilities 2017 Base,Wholesale trade 2017 Base,Retail trade 2017 Base,Transportation and warehousing 2017 Base,Information 2017 Base,Finance and insurance 2017 Base,Real estate and rental and leasing 2017 Base,"Professional, scientific, and technical services 2017 Base",Management of companies and enterprises 2017 Base,Administrative and support and waste management and remediation services 2017 Base,Educational services 2017 Base,Health care and social assistance 2017 Base,"Arts, entertainment, and recreation 2017 Base",Accommodation and food services 2017 Base,Other services (except government and government enterprises) 2017 Base,Federal civilian 2017 Base,Military 2017 Base,State and local 2017 Base,Accommodation and food services BEA,Administrative and support and waste management and remediation services BEA,"Arts, entertainment, and recreation BEA",Construction BEA,Educational services BEA,Farm employment BEA,Federal civilian BEA,Finance and insurance BEA,"Forestry, fishing, and related activities BEA",Health care and social assistance BEA,Information BEA,Management of companies and enterprises BEA,Manufacturing BEA,Military BEA,"Mining, quarrying, and oil and gas extraction BEA",Other services (except government and government enterprises) BEA,"Professional, scientific, and technical services BEA",Real estate and rental and leasing BEA,Retail trade BEA,State and local BEA,Total employment (number of jobs) BEA,Transportation and warehousing BEA,Utilities BEA,Wholesale trade BEA
0,"Cheatham County, Tennessee",2017,15234.0,434.0,50.0,16.0,1797.0,2306.0,30.0,193.0,1524.0,733.0,132.0,403.0,654.0,591.0,109.0,1150.0,221.0,681.0,570.0,786.0,1084.0,77.0,116.0,1577.0,14923.0,426.0,89.0,25.0,1720.0,2370.0,44.0,317.0,1520.0,631.0,119.0,339.0,510.0,694.0,113.0,1020.0,124.0,728.0,589.0,707.0,1047.0,73.0,121.0,1597.0,786.0,1150.0,570.0,1797.0,666666666.0,434.0,77.0,403.0,666666666.0,666666666.0,132.0,666666666.0,2308.0,116.0,666666666.0,1084.0,666666666.0,654.0,1524.0,1577.0,15234.0,733.0,666666666.0,666666666.0
1,"Cheatham County, Tennessee",2022,16640.0,423.0,54.0,16.0,1870.0,2779.0,36.0,216.0,1446.0,884.0,130.0,508.0,771.0,726.0,111.0,1205.0,246.0,759.0,599.0,924.0,1154.0,83.0,111.0,1589.0,15967.0,452.0,95.0,27.0,1948.0,2404.0,45.0,327.0,1636.0,648.0,118.0,371.0,546.0,735.0,121.0,1121.0,145.0,802.0,662.0,777.0,1145.0,74.0,122.0,1646.0,877.0,1012.0,592.0,1966.0,666666666.0,432.0,81.0,622.0,666666666.0,666666666.0,229.0,666666666.0,2962.0,107.0,666666666.0,1148.0,666666666.0,912.0,1516.0,1586.0,17368.0,961.0,666666666.0,666666666.0
2,"Davidson County, Tennessee",2017,644843.0,454.0,216.0,876.0,32735.0,22623.0,330.0,24779.0,53073.0,35504.0,17674.0,33568.0,29500.0,52292.0,9868.0,53399.0,26695.0,83782.0,27731.0,56156.0,35704.0,8351.0,2423.0,37110.0,619069.0,443.0,243.0,1076.0,32017.0,21306.0,283.0,25355.0,55188.0,27028.0,16055.0,32691.0,25753.0,49648.0,8642.0,49895.0,25908.0,85532.0,25422.0,51800.0,35264.0,8004.0,2481.0,39035.0,56158.0,53399.0,27734.0,32735.0,26696.0,454.0,8351.0,33569.0,215.0,83779.0,17676.0,9873.0,22622.0,2423.0,880.0,35703.0,52292.0,29499.0,53073.0,37110.0,644850.0,35500.0,330.0,24779.0
3,"Davidson County, Tennessee",2022,713524.0,442.0,241.0,618.0,38257.0,21909.0,316.0,24582.0,49759.0,45576.0,18200.0,40370.0,34484.0,64405.0,15012.0,59784.0,28991.0,94222.0,32405.0,59437.0,37382.0,8281.0,2201.0,36650.0,665217.0,447.0,253.0,1117.0,36044.0,20821.0,289.0,25561.0,58255.0,27416.0,16291.0,36140.0,27605.0,54434.0,9230.0,52387.0,28070.0,100045.0,27747.0,54319.0,37821.0,7735.0,2488.0,40702.0,59594.0,63071.0,31242.0,42154.0,26980.0,456.0,8628.0,45085.0,237.0,93554.0,22181.0,16621.0,22975.0,2131.0,707.0,37083.0,65018.0,39507.0,51863.0,37371.0,740334.0,47537.0,406.0,25933.0
4,"Dickson County, Tennessee",2017,25762.0,1134.0,104.0,93.0,2130.0,3778.0,13.0,773.0,2956.0,453.0,216.0,890.0,813.0,707.0,100.0,2014.0,166.0,2762.0,344.0,1927.0,1508.0,86.0,152.0,2643.0,25227.0,1122.0,100.0,100.0,2185.0,3740.0,12.0,827.0,3011.0,383.0,235.0,809.0,817.0,647.0,98.0,2085.0,162.0,2596.0,305.0,1730.0,1473.0,87.0,158.0,2545.0,1927.0,2014.0,344.0,2130.0,166.0,1134.0,86.0,890.0,666666666.0,2762.0,216.0,100.0,3778.0,152.0,666666666.0,1508.0,707.0,813.0,2955.0,2643.0,25766.0,666666666.0,666666666.0,773.0